<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./home/images/icon.png">
    <!-- 引入林风工具 -->
    <link rel="stylesheet" href="./assets/tools/linfengTools.css">
    <script src="./assets/tools/linfengTools-min.js"></script>
    <!-- 引入媒体查询 -->
    <link rel="stylesheet" href="./home/css/media.css">
    <!-- 引入自定义动画库 -->
    <link rel="stylesheet" href="./home/css/anim.css">
    <!-- 引入jQuery -->
    <script src="./assets/lib/jquery-3.6.0.min.js"></script>
    <!-- 引入vue -->
    <script src="./assets/lib/vue.min.js"></script>
    <!-- 引入axios -->
    <script src="./assets/lib/axios.min.js"></script>
    <!-- 引入配置信息 -->
    <script src="./assets/config.js"></script>
    <!-- 引入基础设置 -->
    <!-- <script src="./home/js/default.js"></script> -->
    <!-- 引入主要样式 -->
    <link rel="stylesheet" href="./home/css/index.css">
    <!-- 看板娘样式 -->
    <link rel="stylesheet" href="./assets/lib/live2d/css/live2d.css">
    <!-- 引入例子特效 -->
    <script src="./assets/lib/lizi/mouse.min.js"></script>
    <title>林风的小宇宙</title>
</head>

<body>
    <!-- 首页封面盒子 -->
    <div class="topBox">
        <div class="bgLayer">
            <div class="headImg"></div>
            <h1>欢迎来到林风的个人小站</h1>
        </div>

        <div class="bottomIcon"></div>
    </div>
    <!-- 导航锚 -->
    <nav class="toNav"></nav>

    <!-- 主要内容版心 -->
    <div class="area bigBox">
        <div class="left">
            <div class="lTopBox">
                <div class="headImg wxImg"></div>
                <div class="wxBox">
                    <div class="jiantou"></div>
                </div>
                <h2>林风</h2>
            </div>
            <ul class="leftList">
                <li>
                    <img src="./home/images/diary.png" alt="">
                    <div>日记</div>
                </li>
                <li>
                    <img src="./home/images/self.png" alt="">
                    <div>个人简介</div>
                </li>
                <li>
                    <img src="./home/images/navi.png" alt="">
                    <div>个人导航</div>
                </li>
                <li>
                    <img src="./home/images/friend.png" alt="">
                    <div>友情链接</div>
                </li>
                <!-- <li>
                    <img src="./home/images/friend.png" alt="">
                    <div>友情链接</div>
                </li> -->
            </ul>
        </div>
        <div class="content">
            <ul id="bigBox">
                <div class="searchBox">
                    <div class="searchIcon"></div>
                    <input type="text" placeholder="键入搜索内容后回车进行搜索" v-model="search" @keyup.enter="searchArticle" class="search">
                </div>
                <li @mouseenter="mouseenter(index, $event.currentTarget)"
                    @mouseleave="mouseleave(index, $event.currentTarget)" @click="gotoArticle(item.id)" v-key="index"
                    v-for="(item, index) in datas">
                    <!-- 背景图 -->
                    <div class="bgi" :style="bgStyle[index]"></div>
                    <!-- 上层信息 -->
                    <div class="info">
                        <h2 v-text="item.title"></h2>
                        <div class="smallBottomBox">
                            <p v-text="item.info"></p>
                            <div class="sbb">
                                <span class="creatDate">{{linfengTools.date.format(new Date(item.createTime), 'YYYY-MM-DD')}}</span>
                                <span class="showNum">{{item.showNum}}次阅读</span>
                            </div>
                        </div>
                    </div>
                </li>
                <div class="btnBox" :class="{hide: hideBtn}" @click="page()">获取更多</div>
            </ul>
        </div>
        <!-- <div class="right"></div> -->
    </div>

    <!-- 小人 -->
    <div id="landlord">
        <div class="message" style="opacity:0"></div>
        <canvas id="live2d" width="280" height="250" class="live2d"></canvas>
        <div class="hide-button">隐藏</div>
    </div>
    <script type="text/javascript">
        var message_Path = './assets/lib/live2d/';
        var home_Path = 'https://haremu.com/'
    </script>
    <script type="text/javascript" src="./assets/lib/live2d/js/live2d.js"></script>
    <script type="text/javascript" src="./assets/lib/live2d/js/message.js"></script>
    <script type="text/javascript">
        loadlive2d("live2d", "./assets/lib/live2d/model/index.json");
    </script>

    <!-- 底部备案号 -->
    <div class="bottomBox">
        <div>林风小站</div>
        <div>
            <a class="bottomICPText" href="http://beian.miit.gov.cn" target="_blank">冀ICP备2021028292号-1</a>
            <a class="bottomICPText" href="http://beian.miit.gov.cn" target="_blank">冀ICP备2022003382号-1</a>
            <a class="bottomICPText" href="http://beian.miit.gov.cn" target="_blank">冀ICP备2022003382号-2</a>
        </div>
    </div>
</body>
<!-- 引入主要js -->
<script src="./home/js/index.js"></script>
<script>
// 例子特效
$.shuicheMouse({
    type: 11,
    color: "rgba(187,67,128,1)"
})
</script>
</html>