<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./../home/images/icon.png">
    <link rel="stylesheet" href="./../assets/tools/linfengTools.css">
    <link rel="stylesheet" href="./../home/css/link.css">

    <script src="./../assets/tools/linfengTools-min.js"></script>
    <script src="./../assets/lib/axios.min.js"></script>
    <script src="./../assets/lib/vue.min.js"></script>
    <script src="./../assets/config.js"></script>
    <script src="./../assets/lib/jquery-3.6.0.min.js"></script>
    <script src="./../assets/lib/lizi/mouse.min.js"></script>
    <title>友情链接</title>
</head>

<body>
    <div id="bigBox" class="bigBox">
        <h2>友情链接</h2>
        <ul>
            <li v-key="index" v-for="(item, index) in links">
                <a :href="item.link">
                    <img :src="item.img">
                    <div class="info">
                        <h3>{{item.title}}</h3>
                        <p>{{item.info}}</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</body>
<script src="./../home/js/link.js"></script>
<script>
    const { equipment } = linfengTools
    if (equipment.pc()) {
        // 例子特效
        $.shuicheMouse({
            type: 11,
            color: "rgba(187,67,128,1)"
        })
    }
</script>
</html>