body {
  z-index: -99999;
}
.topBox {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  color: #fff;
}
.topBox .bgLayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.topBox .bgLayer .headImg {
  position: absolute;
  left: 47%;
  top: 25%;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-image: url(../images/linfeng.jpg);
  background-size: cover;
  animation: rotateSmall 1s;
  transition: all 0.5s;
}
.topBox .bgLayer .headImg:hover {
  transform: scale(1.2) rotate(360deg);
  cursor: pointer;
}
.topBox .bgLayer h1 {
  position: absolute;
  left: 51.5%;
  top: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  text-align: center;
  animation: daziji 2s steps(11) forwards;
  overflow: hidden;
  /* 让文字在一行显示 */
  white-space: nowrap;
}
.topBox .bottomIcon {
  position: absolute;
  left: 50%;
  bottom: 1.5rem;
  width: 1rem;
  height: 1rem;
  background-image: url(../images/bottom.png);
  background-size: 100%;
  background-repeat: no-repeat;
  animation: tbf 2s ease 0s infinite alternate;
}
.topBox .bottomIcon:hover {
  cursor: pointer;
}
.area {
  width: 90%;
  margin: auto;
}
.bigBox {
  padding-top: 2rem;
}
.bigBox .content ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.bigBox .content ul li {
  position: relative;
  width: 80%;
  height: 13rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  background-size: cover;
  overflow: hidden;
}
.bigBox .content ul li .bgi {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -10;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  background-size: cover;
}
.bigBox .content ul li .info {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
  color: #fff;
}
.bigBox .content ul li .info h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  text-align: center;
  transition: all 0.5s;
  filter: blur(0px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bigBox .content ul li .info .smallBottomBox {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: transparent;
  transition: all 0.7s;
}
.bigBox .content ul li .info .smallBottomBox p {
  text-align: center;
  width: 80%;
  margin: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bigBox .content ul li .info .smallBottomBox .sbb {
  width: 95%;
  margin: auto;
  margin-top: 2rem;
  border-top: 1px solid transparent;
  font-size: 0.7rem;
}
.bigBox .content ul li .info .smallBottomBox .sbb .showNum {
  float: right;
}
.bigBox .content ul li .info:hover {
  cursor: pointer;
}
.bigBox .content ul li .info:hover h2 {
  top: 40%;
  font-size: 1.7rem;
}
.bigBox .content ul li .info:hover .smallBottomBox {
  color: #fff;
}
.bigBox .content ul li .info:hover .smallBottomBox .sbb {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.bigBox .content ul .btnBox {
  width: 70%;
  height: 80px;
  line-height: 80px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 20px 0;
  text-align: center;
  border-radius: 5px;
  transition: all 0.5s;
}
.bigBox .content ul .btnBox:hover {
  background-color: rgba(255, 21, 142, 0.5);
}
.bigBox .left {
  width: 95%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.8);
}
.bigBox .left .lTopBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10rem;
  border-bottom: 1px solid #666;
}
.bigBox .left .lTopBox .headImg {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-image: url(../images/linfeng.jpg);
  background-size: cover;
  animation: rotateSmall 1s;
  transition: all 0.5s;
}
.bigBox .left .lTopBox .headImg:hover {
  transform: scale(1.2) rotate(360deg);
  cursor: pointer;
}
.bigBox .left .lTopBox h2 {
  margin-top: 1rem;
  font-size: 1rem;
}
.bigBox .left .leftList {
  display: flex;
  flex-wrap: wrap;
}
.bigBox .left .leftList li {
  width: 50%;
  display: flex;
  align-items: center;
  font-size: 1rem;
  height: 4rem;
  border-bottom: 1px dotted #ccc;
  transition: all 0.5s;
}
.bigBox .left .leftList li img {
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem 0 1rem;
}
.bigBox .left .leftList li:hover {
  cursor: pointer;
  background-color: rgba(200, 200, 200, 0.8);
}
.bigBox .right {
  height: 400px;
  width: 20%;
  background-color: green;
}
.bottomBox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 1rem;
  margin-top: 0.5rem;
  font-size: 0.5rem;
  background-color: rgba(0, 0, 0, 0.8);
  line-height: 1rem;
  overflow: hidden;
  color: #fff;
}
.bottomBox a {
  color: #fff;
}
.hide {
  display: none;
}
